sudo: false
language: rust
cache: cargo
rust:
- stable
- beta
- nightly
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  (cargo install --git https://github.com/rust-lang-nursery/rustfmt || true) &&
  export PATH=$HOME/.local/bin:$PATH &&
  export PATH=$HOME/.cargo/bin:$PATH
script:
- |
  cargo fmt -- --write-mode=diff &&
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo bench &&
  travis-cargo --only stable doc
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
after_success:
- travis-cargo --only stable doc-upload
- travis-cargo --only stable coveralls --no-sudo
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE="clippy"
  - secure: YWf1Eu87gz5aD9UD7FEKyzvXjsa9dyFqZ/QbrEwBzkFZJcXspIbgynhkLy9W5qgDJPQ8GA9ZaN37VHcuaJLWTpFJCH4h9y8llCaihl5Sc/rghhR2BIqBhm4OhYk7MQxM8MVNraNU7rzYv/dHfK6PMK79y+9EUZYfOCDS60ie077AGV3m53ppAPDAFihIt/pIFRWu2VbnQxcJl0D4x7dC7DLCFqmdoKxjHQ6I35yRY6c7xCOeFayfRdddRnr5p0aYddN7/N55eCHRBwvKPRmi8PSqNqULQhcPyCJgvVl4x8GsRZX4/HMU4dTCkWPxIPOyxoxKinP7xf1A1l41mV9nxD3xBgo7IFlX+QA2M+2JVxzT9SiDPJ8TBZXDVWru26wRMyeIOWtJFA4omswotBr6N0spZ+BsP4WEUBj6gtrNG4M66YRA/LQq84QyEkmxpOm5+sRurChjJg+Gfk3Krsy9GR6fwoM6Teu8747DFscFag+bBobgaQpoMor5KgffXHqWH9JYt706v9i+NxYWq2V69hsJMBXkmfzXh/BdoDXKioW5WFKBs7lUlxJRS3LIfdSeX+22MzjBYU63jNihOvBBAY2NBVRGLe9yHL+Q8q5D9ygtzPW6WBco14KDN3Zra3phaC+xR2kpQ7Hcr4yrIIg/Zc6D2EwvApKafoGUiP4TaGg=
